*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;/* Remove qualquer decoração do texto (link)
                             remove uma linha embaixo do texto */
    
}

.todos-grupo1 {
    display: grid;/*cria coluna*/
    grid-template-columns: repeat(6, 1fr);/*criando 6 colunas*/
}

.todos-grupo2 {
    display: grid;/*cria coluna*/
    grid-template-columns: repeat(6, 1fr);/*criando 6 colunas*/
}

.todos-grupo3 {
    display: grid;/*cria coluna*/
    grid-template-columns: repeat(6, 1fr);/*criando 6 colunas*/
}

.img-ods {
    width: 200px;
    height: 200px;
}
.headeri{
    padding: 10px;
    background: rgb(21,0,255);
background: linear-gradient(0deg, rgba(21,0,255,1) 0%, rgba(179,179,255,1) 74%, rgba(255,255,255,1) 100%);


    
}
.imgtop{
    padding: 100px;
    height: 200px;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 4%, rgba(185,0,0,1) 69%);
font-size: x-large;
}
#logo4{
    box-shadow: 5px 8px 25px black;
}
#logo {
    width: 150px; /*largura da imagem*/
    height: auto;   /*para que a altura se adapte automaticamente à largura*/
}
footer {
    height: 200px;
    /* altura */
    margin-top: 25px;
    /* espaçamento externo superior */
    display: flex;
    /* Utilizando flex para poder alinha os elementos */
    flex-direction: column;
    /* Coloca os elementos em coluna */
    align-items: center;
    /* Alinhando os elementos no centro verticalmente */
    justify-content: center;
    /* Alinhando os elementos no centro horizontalmente */
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 4%, rgba(185,0,0,1) 69%);
  }
  .footer-texto {
    color: white;
}

.topod0s{
    padding: 10px;
    

}

/* estilização da parte ods -------------------------------------------- */
.imgtopo{
    padding: 100px;
    height: 200px;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 9%, rgba(255,255,255,1) 23%, rgba(185,0,0,1) 82%);
font-size: x-large;
align-items: center;
justify-content: center;
display: flex;

}

.bvolta{
    width: 1px;
    height: 1px;
}

.imgheader{
width: 250px;
height: auto;
margin-top: 70px;


}

/* heasar--------------------- */
header {
    height: 90px;
    display: flex;/*coloca a imagem e os elementos filhos lado a lado,ou seja,
     serão organizados em uma linha horizontal*/
     
    justify-content: space-around;/*distribui os itens em espaço igual entre eles e
    ao redor de cada item*/
    align-items: center;/* alinha os itens verticalmente ao centro do container*/
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 2%, rgba(185,0,0,1) 82%);
    
    }
    
    nav {
        width: 60% ;/*tamanho da área de navegação*/
        margin-top: 55px;
    }
    
    ul {
        display: flex;
        width: 100% ;/*ocupa todo o espaço disponível na área de navegação*/
        justify-content: space-between;/*espaçamento entre os itens*/
    
    }
    .li{
        color: rgb(0, 0, 0);/*cor do texto dos itens da lista */
        cursor: pointer;/*cria um cursor ao passar mouse*/
        font-size: 25px;
        transition: .5s;/*transição de cor*/
        font-family: "Kdam Thmor Pro", sans-serif;/*fonte que vai usar esse elemento*/
        list-style: none;/*tira a o estilo da  lista por padrão (as bolinhas)*/
    }
    
    /*pseudo classe é usada para
    estilizar um elemento quando o cursor do mouse está sobre ele*/
    .li:hover {
        color: #ffffff; /*muda a cor do texto quando estiver com o mouse sobre*/
        
    }
   

    /* teste--------------------------------------- */
    


    /* parte contato ----------------------------- */
    .contato {
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        
     }
     .form-container{
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    .formulario div {
  
        display: flex;
        flex-direction: column;
      
        margin-bottom: 30px;
    
    }
    
    .formulario input, .formulario textarea {
        color: rgb(0, 0, 0);
        outline: unset;
        width: 300px;
        border: 1px solid red;
    }
    
    .formulario button {
        color: #ffffff;
        background-color: red;
        padding: 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }
/* parte metas---------------------------------------------------- */

.tpmeta{
    color:dimgray ;
}
/* parte videos -------------------------------------------- */
.videos{
    width: 30%;
    border-radius: 15px;
    margin: 7px;
    box-shadow: 2px 2px 5px black;
}


 /* textos----------------------------------- */
.texto1{
    font-size: 35px;
}
.texto2{
    font-size: 35px;
}
.texto3{
    font-size: 35px;
}
.textodaconclusao{
    font-size: 35px;
}

